<header>
    <nav>
        <div class="logo">
            <h1>Reactbooru</h1>
        </div>
        <div class="nav-links">
            <!-- TODO: Username instead of 'account' -->
            <a href="/account">Account</a>
            <a href="/posts">Posts</a>
            <a href="/tags">Tags</a>
        </div>
    </nav>
</header>