<header>
    <nav>
        <div class="logo">
            <h1>Reactbooru</h1>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <a href="/upload">Upload</a>
        </div>
    </nav>
</header>